In [83]:
# Initial imports
from MCForecastTools import MCSimulation

%matplotlib inline
import os
import pandas as pd
import numpy as np
import seaborn as sns
import alpaca_trade_api as tradeapi
import matplotlib.pyplot as plt
import time
import datetime as dt
import pandas_datareader.data as web 

start = dt.datetime(2016, 5, 24)
end = dt.datetime(2021, 5, 24)

eth = web.DataReader(['ETH-USD'], 'yahoo', start, end)
eth.columns= eth.columns.swaplevel(0, 1)
eth.sort_index(axis= 1, level=1, inplace=True)


data_dis = web.DataReader(['DIS'], 'yahoo', start, end)
data_dis.columns= data_dis.columns.swaplevel(0, 1)
data_dis.sort_index(axis= 1, level=1, inplace=True)

data_baba = web.DataReader(['BABA'], 'yahoo', start, end)
data_baba.columns= data_baba.columns.swaplevel(0, 1)
data_baba.sort_index(axis= 1, level=1, inplace=True)

data_spy = web.DataReader(['SPY'], 'yahoo', start, end)
data_spy.columns= data_spy.columns.swaplevel(0, 1)
data_spy.sort_index(axis= 1, level=1, inplace=True)


data_tsla = web.DataReader(['TSLA'], 'yahoo', start, end)
data_tsla.columns= data_tsla.columns.swaplevel(0, 1)
data_tsla.sort_index(axis= 1, level=1, inplace=True)

data_eth = web.DataReader(['ETH-USD'], 'yahoo', start, end)
data_eth.columns= data_tsla.columns.swaplevel(0, 1)
data_eth.sort_index(axis= 1, level=1, inplace=True)


# # data = web.DataReader(ticker, 'yahoo', start, end)
# # # print(data.head(3))
# # # print(data.tail(3))


# # data.head()
# # data_dis.head()

results = pd.concat([data_dis, data_baba, eth], axis= 1, join = 'inner')
results.rename(columns= {'Close': 'close'}, inplace=True)
results.head()

Symbols           DIS                                                \
Attributes  Adj Close       close        High        Low       Open
Date
2016-05-24  93.882042   99.510002  100.040001  99.379997  99.449997
2016-05-25  94.212242   99.860001  100.800003  99.809998  99.919998
2016-05-26  94.165054   99.809998  100.489998  99.570000  99.889999
2016-05-27  94.617912  100.290001  100.529999  99.809998  99.809998
2016-05-31  93.608437   99.220001   99.889999  98.570000  99.849998

Symbols                      BABA                                              \
Attributes      Volume  Adj Close      close       High        Low       Open
Date
2016-05-24   5250800.0  81.120003  81.120003  81.309998  79.070000  79.169998
2016-05-25   5667300.0  75.589996  75.589996  79.199997  74.120003  78.529999
2016-05-26   3852600.0  78.349998  78.349998  78.864998  75.589996  75.589996
2016-05-27   4589100.0  80.970001  80.970001  81.000000  78.389999  78.489998
2016-05-31  10396200.0  82.000000  82.000000  82.029999  80.199997  81.000000

Symbols                ETH-USD
Attributes    Volume Adj Close    close     High      Low     Open      Volume
Date
2016-05-24  16707700   12.5260  12.5260  12.8984  11.7666  12.7932  27444700.0
2016-05-25  49606600   12.4304  12.4304  12.9866  12.0592  12.5161  20764000.0
2016-05-26  26968600   11.2958  11.2958  12.3894  10.5027  12.3894  57496400.0
2016-05-27  24552900   11.8929  11.8929  12.3633  10.3734  11.3332  47274800.0
2016-05-31  78861400   14.0015  14.0015  14.3155  13.4389  14.1098  22471300.0

In [84]:
results = pd.concat([data_dis, data_baba, eth, data_spy, data_tsla], axis= 1, join = 'inner')
results.rename(columns= {'Close': 'close'}, inplace=True)
results.head()

Symbols           DIS                                                \
Attributes  Adj Close       close        High        Low       Open
Date
2016-05-24  93.882042   99.510002  100.040001  99.379997  99.449997
2016-05-25  94.212242   99.860001  100.800003  99.809998  99.919998
2016-05-26  94.165054   99.809998  100.489998  99.570000  99.889999
2016-05-27  94.617912  100.290001  100.529999  99.809998  99.809998
2016-05-31  93.608437   99.220001   99.889999  98.570000  99.849998

Symbols                      BABA                                   ...  \
Attributes      Volume  Adj Close      close       High        Low  ...
Date                                                                ...
2016-05-24   5250800.0  81.120003  81.120003  81.309998  79.070000  ...
2016-05-25   5667300.0  75.589996  75.589996  79.199997  74.120003  ...
2016-05-26   3852600.0  78.349998  78.349998  78.864998  75.589996  ...
2016-05-27   4589100.0  80.970001  80.970001  81.000000  78.389999  ...
2016-05-31  10396200.0  82.000000  82.000000  82.029999  80.199997  ...

Symbols            SPY                                            TSLA  \
Attributes        High         Low        Open       Volume  Adj Close
Date
2016-05-24  208.240005  206.139999  206.169998   93537800.0  43.582001
2016-05-25  209.770004  207.869995  208.669998   76621400.0  43.916000
2016-05-26  209.710007  208.970001  209.440002   55280700.0  45.023998
2016-05-27  210.250000  209.470001  209.529999   64211200.0  44.608002
2016-05-31  210.690002  209.179993  210.559998  109879400.0  44.646000

Symbols
Attributes      close       High        Low       Open      Volume
Date
2016-05-24  43.582001  43.748001  43.035999  43.320000  15069000.0
2016-05-25  43.916000  44.271999  43.301998  43.582001  15634000.0
2016-05-26  45.023998  45.051998  43.810001  44.099998  20362000.0
2016-05-27  44.608002  45.186001  44.150002  44.998001  18251500.0
2016-05-31  44.646000  44.950001  44.299999  44.608002  13945000.0

[5 rows x 30 columns]

In [96]:
# # TSLA: Configuring a Monte Carlo simulation to forecast 5 years cumulative returns
# test = MCSimulation(
#     portfolio_data = results,
#     num_simulation = 1000,
#     num_trading_days = 252*5
# )

# # Print the simulation input data
# test.portfolio_data.head()

In [85]:
# TSLA: Running a Monte Carlo simulation to forecast 5 years cumulative returns
# test.calc_cumulative_return()

In [95]:
# # TSLA: Fetch summary statistics from the Monte Carlo simulation results
# tsla_MC_summary = test.summarize_cumulative_return()

# # Print summary statistics
# print(tsla_MC_summary)

In [97]:
# # TSLA: Use the lower and upper `95%` confidence intervals to calculate the range of the possible outcomes of our $10,000 investments in TSLA stocks
# tsla_ci_lower = round(tsla_MC_summary[8]*10000,2)
# tsla_ci_upper = round(tsla_MC_summary[9]*10000,2)

# # Print results
# print(f"There is a 95% chance that an initial investment of $10,000 in the portfolio"
#       f" over the next year will end within in the range of"
#       f" ${tsla_ci_lower} and ${tsla_ci_upper}.")

In [85]:
data_dis = web.DataReader(['DIS'], 'yahoo', start, end)
data_dis.columns= data_dis.columns.swaplevel(0, 1)
data_dis.rename(columns= {'Close': 'close'}, inplace=True)
data_dis.sort_index(axis= 1, level=1, inplace=True)

In [86]:
# DIS: Configuring a Monte Carlo simulation to forecast 5 years cumulative returns
test1 = MCSimulation(
    portfolio_data = data_dis,
    num_simulation = 1000,
    num_trading_days = 252*5
)

# Print the simulation input data
test1.portfolio_data.head()

Symbols           DIS                                                \
Attributes  Adj Close        High        Low       Open      Volume
Date
2016-05-24  93.882042  100.040001  99.379997  99.449997   5250800.0
2016-05-25  94.212242  100.800003  99.809998  99.919998   5667300.0
2016-05-26  94.165054  100.489998  99.570000  99.889999   3852600.0
2016-05-27  94.617912  100.529999  99.809998  99.809998   4589100.0
2016-05-31  93.608437   99.889999  98.570000  99.849998  10396200.0

Symbols
Attributes       close daily_return
Date
2016-05-24   99.510002          NaN
2016-05-25   99.860001     0.003517
2016-05-26   99.809998    -0.000501
2016-05-27  100.290001     0.004809
2016-05-31   99.220001    -0.010669

In [87]:
#Disney'DIS': Running a Monte Carlo simulation to forecast 5 years cumulative returns
test1.calc_cumulative_return()

Running Monte Carlo simulation number 0.
Running Monte Carlo simulation number 10.
Running Monte Carlo simulation number 20.
Running Monte Carlo simulation number 30.
Running Monte Carlo simulation number 40.
Running Monte Carlo simulation number 50.
Running Monte Carlo simulation number 60.
Running Monte Carlo simulation number 70.
Running Monte Carlo simulation number 80.
Running Monte Carlo simulation number 90.
Running Monte Carlo simulation number 100.
Running Monte Carlo simulation number 110.
Running Monte Carlo simulation number 120.
Running Monte Carlo simulation number 130.
Running Monte Carlo simulation number 140.
Running Monte Carlo simulation number 150.
Running Monte Carlo simulation number 160.
Running Monte Carlo simulation number 170.
Running Monte Carlo simulation number 180.
Running Monte Carlo simulation number 190.
Running Monte Carlo simulation number 200.
Running Monte Carlo simulation number 210.
Running Monte Carlo simulation number 220.
Running Monte Carlo simulation number 230.
Running Monte Carlo simulation number 240.
Running Monte Carlo simulation number 250.
Running Monte Carlo simulation number 260.
Running Monte Carlo simulation number 270.
Running Monte Carlo simulation number 280.
Running Monte Carlo simulation number 290.
Running Monte Carlo simulation number 300.
Running Monte Carlo simulation number 310.
Running Monte Carlo simulation number 320.
Running Monte Carlo simulation number 330.
Running Monte Carlo simulation number 340.
Running Monte Carlo simulation number 350.
Running Monte Carlo simulation number 360.
Running Monte Carlo simulation number 370.
Running Monte Carlo simulation number 380.
Running Monte Carlo simulation number 390.
Running Monte Carlo simulation number 400.
Running Monte Carlo simulation number 410.
Running Monte Carlo simulation number 420.
Running Monte Carlo simulation number 430.
Running Monte Carlo simulation number 440.
Running Monte Carlo simulation number 450.
Running Monte Carlo simulation number 460.
Running Monte Carlo simulation number 470.
Running Monte Carlo simulation number 480.
Running Monte Carlo simulation number 490.
Running Monte Carlo simulation number 500.
Running Monte Carlo simulation number 510.
Running Monte Carlo simulation number 520.
Running Monte Carlo simulation number 530.
Running Monte Carlo simulation number 540.
Running Monte Carlo simulation number 550.
Running Monte Carlo simulation number 560.
Running Monte Carlo simulation number 570.
Running Monte Carlo simulation number 580.
Running Monte Carlo simulation number 590.
Running Monte Carlo simulation number 600.
Running Monte Carlo simulation number 610.
Running Monte Carlo simulation number 620.
Running Monte Carlo simulation number 630.
Running Monte Carlo simulation number 640.
Running Monte Carlo simulation number 650.
Running Monte Carlo simulation number 660.
Running Monte Carlo simulation number 670.
Running Monte Carlo simulation number 680.
Running Monte Carlo simulation number 690.
Running Monte Carlo simulation number 700.
Running Monte Carlo simulation number 710.
Running Monte Carlo simulation number 720.
Running Monte Carlo simulation number 730.
Running Monte Carlo simulation number 740.
Running Monte Carlo simulation number 750.
Running Monte Carlo simulation number 760.
Running Monte Carlo simulation number 770.
Running Monte Carlo simulation number 780.
Running Monte Carlo simulation number 790.
Running Monte Carlo simulation number 800.
Running Monte Carlo simulation number 810.
Running Monte Carlo simulation number 820.
Running Monte Carlo simulation number 830.
Running Monte Carlo simulation number 840.
Running Monte Carlo simulation number 850.
Running Monte Carlo simulation number 860.
Running Monte Carlo simulation number 870.
Running Monte Carlo simulation number 880.
Running Monte Carlo simulation number 890.
Running Monte Carlo simulation number 900.
Running Monte Carlo simulation number 910.
Running Monte Carlo simulation number 920.
Running Monte Carlo simulation number 930.
Running Monte Carlo simulation number 940.
Running Monte Carlo simulation number 950.
Running Monte Carlo simulation number 960.
Running Monte Carlo simulation number 970.
Running Monte Carlo simulation number 980.
Running Monte Carlo simulation number 990.

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
1,1.004463,0.982421,0.999262,1.012150,1.022795,0.982511,0.983498,0.978293,0.965258,0.986099,...,1.006119,1.004850,1.027233,0.982955,0.998748,1.027530,1.010948,1.014012,1.005877,1.026922
2,1.020545,1.004730,1.014091,1.036181,1.038176,0.986572,0.963137,0.963738,0.976738,0.984005,...,1.029186,0.973524,1.041077,0.968432,0.993082,1.011790,1.026028,1.044047,0.995178,1.057227
3,1.025138,0.996367,1.018867,1.050778,1.048480,1.012631,0.960901,0.972018,0.980456,0.960922,...,1.057471,0.964281,1.036348,0.994967,1.002605,1.019705,1.020757,1.065658,1.005799,1.031846
4,1.050518,1.019216,1.045345,1.041141,1.028128,1.018559,0.929971,0.961601,0.984367,0.993187,...,1.071541,0.971450,1.044827,0.980184,1.051592,1.035122,1.016043,1.067182,1.021726,1.001273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1256,2.038953,0.880257,3.148701,1.151241,0.803928,2.839586,3.990687,5.525580,1.764423,2.761436,...,1.639293,0.779539,3.937521,0.799332,3.251427,2.154866,2.165223,3.061416,2.052336,1.303407
1257,2.030952,0.902962,3.122739,1.147775,0.806461,2.859370,4.023414,5.636163,1.782443,2.820899,...,1.637894,0.769192,4.026782,0.795728,3.218427,2.136953,2.174461,2.959912,2.071230,1.298195
1258,2.118752,0.910757,3.154034,1.102654,0.814863,2.858031,3.970411,5.600100,1.776712,2.732648,...,1.669191,0.755549,4.020410,0.813556,3.107679,2.099029,2.178563,2.971223,2.049716,1.260445
1259,2.167993,0.901737,3.108363,1.104943,0.811042,2.806622,4.033694,5.624784,1.798584,2.737826,...,1.652502,0.757724,4.090255,0.812054,3.117277,2.129858,2.213753,2.969132,2.034245,1.264781
1260,2.126809,0.871739,3.105520,1.111638,0.800117,2.864494,4.060941,5.724878,1.775592,2.757310,...,1.685333,0.759079,4.057732,0.796954,3.091115,2.108482,2.205195,2.928913,2.028971,1.267950

In [8]:
# DIS: Fetch summary statistics from the Monte Carlo simulation results
dis_MC_summary = test1.summarize_cumulative_return()

# Print summary statistics
print(dis_MC_summary)

count           1000.000000
mean               2.102401
std                1.435352
min                0.228356
25%                1.134247
50%                1.737554
75%                2.615309
max               14.173991
95% CI Lower       0.537374
95% CI Upper       6.010848
Name: 1260, dtype: float64

In [11]:
# TSLA: Use the lower and upper `95%` confidence intervals to calculate the range of the possible outcomes of our $10,000 investments in TSLA stocks
dis_ci_lower = round(dis_MC_summary[8]*10000,2)
dis_ci_upper = round(dis_MC_summary[9]*10000,2)

# Print results
print(f"There is a 95% chance that an initial investment of $10,000 in the portfolio"
      f" over the next year will end within in the range of"
      f" ${dis_ci_lower} and ${dis_ci_upper}.")

There is a 95% chance that an initial investment of $10,000 in the portfolio over the next year will end within in the range of $5373.74 and $60108.48.

In [17]:
data_baba = web.DataReader(['BABA'], 'yahoo', start, end)
data_baba.columns= data_baba.columns.swaplevel(0, 1)
data_baba.rename(columns= {'Close': 'close'}, inplace=True)
data_baba.sort_index(axis= 1, level=1, inplace=True)

In [18]:
# DIS: Configuring a Monte Carlo simulation to forecast 5 years cumulative returns
test2 = MCSimulation(
    portfolio_data = data_baba,
    num_simulation = 1000,
    num_trading_days = 252*5
)

# Print the simulation input data
test2.portfolio_data.head()

Symbols          BABA                                                        \
Attributes  Adj Close       High        Low       Open    Volume      close
Date
2016-05-24  81.120003  81.309998  79.070000  79.169998  16707700  81.120003
2016-05-25  75.589996  79.199997  74.120003  78.529999  49606600  75.589996
2016-05-26  78.349998  78.864998  75.589996  75.589996  26968600  78.349998
2016-05-27  80.970001  81.000000  78.389999  78.489998  24552900  80.970001
2016-05-31  82.000000  82.029999  80.199997  81.000000  78861400  82.000000

Symbols
Attributes daily_return
Date
2016-05-24          NaN
2016-05-25    -0.068171
2016-05-26     0.036513
2016-05-27     0.033440
2016-05-31     0.012721

In [41]:
#BABA: Running a Monte Carlo simulation to forecast 5 years cumulative returns
test2.calc_cumulative_return()

In [57]:
# DIS: Fetch summary statistics from the Monte Carlo simulation results
baba_MC_summary = test2.summarize_cumulative_return()

# Print summary statistics
print(baba_MC_summary)

count           1000.000000
mean               3.556463
std                3.056855
min                0.234611
25%                1.587318
50%                2.626772
75%                4.490040
max               24.404962
95% CI Lower       0.636040
95% CI Upper      11.972134
Name: 1260, dtype: float64

In [58]:
# TSLA: Use the lower and upper `95%` confidence intervals to calculate the range of the possible outcomes of our $10,000 investments in TSLA stocks
baba_ci_lower = round(baba_MC_summary[8]*10000,2)
baba_ci_upper = round(baba_MC_summary[9]*10000,2)

# Print results
print(f"There is a 95% chance that an initial investment of $10,000 in the portfolio"
      f" over the next year will end within in the range of"
      f" ${baba_ci_lower} and ${baba_ci_upper}.")

There is a 95% chance that an initial investment of $10,000 in the portfolio over the next year will end within in the range of $6360.4 and $119721.34.

In [59]:
#importing SPY Dataframe 

data_spy = web.DataReader(['SPY'], 'yahoo', start, end)
data_spy.columns= data_spy.columns.swaplevel(0, 1)
data_spy.rename(columns= {'Close': 'close'}, inplace=True)
data_spy.sort_index(axis= 1, level=1, inplace=True)

In [46]:
# DIS: Configuring a Monte Carlo simulation to forecast 5 years cumulative returns
test3 = MCSimulation(
    portfolio_data = data_spy,
    num_simulation = 1000,
    num_trading_days = 252*5
)

# Print the simulation input data
test3.portfolio_data.head()

Symbols            SPY                                                   \
Attributes   Adj Close        High         Low        Open       Volume
Date
2016-05-24  189.087112  208.240005  206.139999  206.169998   93537800.0
2016-05-25  190.369705  209.770004  207.869995  208.669998   76621400.0
2016-05-26  190.424301  209.710007  208.970001  209.440002   55280700.0
2016-05-27  191.243011  210.250000  209.470001  209.529999   64211200.0
2016-05-31  190.879135  210.690002  209.179993  210.559998  109879400.0

Symbols
Attributes       close daily_return
Date
2016-05-24  207.869995          NaN
2016-05-25  209.279999     0.006783
2016-05-26  209.339996     0.000287
2016-05-27  210.240005     0.004299
2016-05-31  209.839996    -0.001903

In [42]:
#'SPY': Running a Monte Carlo simulation to forecast 5 years cumulative returns
# test3.calc_cumulative_return()

In [27]:
# DIS: Fetch summary statistics from the Monte Carlo simulation results
spy_MC_summary = test3.summarize_cumulative_return()

# Print summary statistics
print(spy_MC_summary)

count           1000.000000
mean               2.173615
std                0.984834
min                0.431203
25%                1.470483
50%                1.971560
75%                2.679313
max                7.977061
95% CI Lower       0.859854
95% CI Upper       4.527771
Name: 1260, dtype: float64

In [30]:
# SPY: Use the lower and upper `95%` confidence intervals to calculate the range of the possible outcomes of our $10,000 investments in TSLA stocks
spy_ci_lower = round(spy_MC_summary[8]*10000,2)
spy_ci_upper = round(spy_MC_summary[9]*10000,2)

# Print results
print(f"There is a 95% chance that an initial investment of $10,000 in the portfolio"
      f" over the next year will end within in the range of"
      f" ${baba_ci_lower} and ${baba_ci_upper}.")

There is a 95% chance that an initial investment of $10,000 in the portfolio over the next year will end within in the range of $6360.4 and $119721.34.

In [31]:
data_tsla = web.DataReader(['TSLA'], 'yahoo', start, end)
data_tsla.columns= data_tsla.columns.swaplevel(0, 1)
data_tsla.rename(columns= {'Close': 'close'}, inplace=True)
data_tsla.sort_index(axis= 1, level=1, inplace=True)

In [33]:
# TSLA: Configuring a Monte Carlo simulation to forecast 5 years cumulative returns
test4 = MCSimulation(
    portfolio_data = data_tsla,
    num_simulation = 1000,
    num_trading_days = 252*5
)

# Print the simulation input data
test4.portfolio_data.head()

Symbols          TSLA                                                          \
Attributes  Adj Close       High        Low       Open      Volume      close
Date
2016-05-24  43.582001  43.748001  43.035999  43.320000  15069000.0  43.582001
2016-05-25  43.916000  44.271999  43.301998  43.582001  15634000.0  43.916000
2016-05-26  45.023998  45.051998  43.810001  44.099998  20362000.0  45.023998
2016-05-27  44.608002  45.186001  44.150002  44.998001  18251500.0  44.608002
2016-05-31  44.646000  44.950001  44.299999  44.608002  13945000.0  44.646000

Symbols
Attributes daily_return
Date
2016-05-24          NaN
2016-05-25     0.007664
2016-05-26     0.025230
2016-05-27    -0.009239
2016-05-31     0.000852

In [43]:
# #TSLA: Running a Monte Carlo simulation to forecast 5 years cumulative returns
# test4.calc_cumulative_return()

In [36]:
# TSLA: Fetch summary statistics from the Monte Carlo simulation results
tsla_MC_summary = test4.summarize_cumulative_return()

# Print summary statistics
print(tsla_MC_summary)

count           1000.000000
mean              31.625186
std               60.999411
min                0.324662
25%                5.900810
50%               14.571386
75%               32.816359
max              776.616954
95% CI Lower       1.279333
95% CI Upper     159.478768
Name: 1260, dtype: float64

In [37]:
# TSLA: Use the lower and upper `95%` confidence intervals to calculate the range of the possible outcomes of our $10,000 investments in TSLA stocks
tsla_ci_lower = round(tsla_MC_summary[8]*10000,2)
tsla_ci_upper = round(tsla_MC_summary[9]*10000,2)

# Print results
print(f"There is a 95% chance that an initial investment of $10,000 in the portfolio"
      f" over the next year will end within in the range of"
      f" ${tsla_ci_lower} and ${tsla_ci_upper}.")

There is a 95% chance that an initial investment of $10,000 in the portfolio over the next year will end within in the range of $12793.33 and $1594787.68.

In [91]:
# Create and empty DataFrame for closing prices
all_closing_prices = pd.DataFrame()

# Fetch the closing prices 
all_closing_prices["BABA"] = data_baba["BABA"]["close"]
all_closing_prices["SPY"] = data_spy["SPY"]["close"]
all_closing_prices["DIS"] = data_dis["DIS"]["close"]
all_closing_prices["TSLA"] = data_tsla["TSLA"]["close"]


# Drop the time component of the date
all_closing_prices.index = all_closing_prices.index.date

# Compute daily returns
all_returns = all_closing_prices.pct_change().dropna()

# Display
all_returns.head()

KeyError: 'close'

In [90]:
# #Create a variable for closing prices 
# all_closing_prices = pd.DataFrame()

# # Fetch all closing prices
# all_closing_prices["BABA"] = data_baba["BABA"]["close"]
# all_closing_prices["SPY"] = data_spy["SPY"]["close"]
# all_closing_prices["DIS"] = data_dis["DIS"]["close"]
# all_closing_prices["TSLA"] = data_tsla["TSLA"]["close"]

# # Drop the time component of the date
# # all_closing_prices.index = all_closing_prices.index.date



# # # Compute daily returns
# # all_returns = all_closing_prices.pct_change().dropna()


# # Display
# all_closing_prices.head()

KeyError: 'close'

In [89]:
# eth_closing_prices["ETH-USD"] = eth["ETH-USD"]["close"]

In [65]:
# #Create a new Dataframe that holds the closing price of both crypto currencies. 
# new_df = pd.DataFrame({'ETH': eth['Close']})

# # # Drop the time component of the date
# # new_df.index = new_df.index.date
# # # Compute daily returns
# # eth_closing = new_df.pct_change().dropna()

# # eth_closing.head()